@page "/"
<section>
    <div class="landing">
        <div class="form">
            <div class="form-img">
                <img src="img/Logo.png" alt="logo cloud" />
            </div>
            <div class="form-input">
                <div class="--input-search">
                    <input type="text" spellcheck="false" @bind-value="RepositoryName" placeholder="MeatRocket/CRI-testing"> </input>
                    <button @onclick="TestAsync"><img src="img/search.svg" alt="search" /></button>
                </div>
            </div>
            <div class="form-button">
                    <button class="--btn-primary" @onclick="TestAsync">Search</button>
                </div>
        </div>
    </div>

</section>

