################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AngryCRI/v17
/.vs/CRI_V1
/CRI_V1/obj
