/* _content/CRI_V1/Shared/Header.razor.rz.scp.css */
.header[b-13f21tsehn] {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  white-space: nowrap;
  height: auto;
  background-color: var(--color-primary);
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-logo[b-13f21tsehn] {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 19%;
}
.header-logo a[b-13f21tsehn] {
  padding: 20px;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.header-logo a img[b-13f21tsehn] {
  width: 100%;
  object-fit: contain;
}
.header-name[b-13f21tsehn] {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-right: 2rem;
}
.header-name h4[b-13f21tsehn] {
  font-weight: 400;
  color: white;
  line-height: 1;
  letter-spacing: 10px;
  text-transform: uppercase;
}
