<header class="header">
    <div class="header-logo">	
        <a href="https://angrymonkeyagency.com/">
            <img src="img/logo-name.png" alt="logo name" />
        </a>
	</div>
    <div class="header-name">
        <h4>Cloud Repository Information </h4>
    </div>
</header>